{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil !</h1>
    {# Ajoutez le lien de déconnexion ici #}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
</body>
</html>
