{# templates/home/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Centre B : Accueil{% endblock %}
{% block page_name %} Menu Hebdomadaire {% endblock %}
{% block body %}
    <h1> Bienvenue sur la page d'accueil !</h1>
{% endblock %}
