body {
    background-color: #fff;
}

.link_btn {
    width: 250px;
    height: 500px;
    display: block;
    text-decoration: none;
}

.add {
    width: 250px;
    height: 500px;
    padding: 0;
    border-radius: 25px;
    background: #1e7b7d;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
}

.add:hover {
    background-color: #3aa6aa;
    border: solid 5px black;
}

.add_div {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 69px;
    border-radius: 100%;
    z-index: 1;
    background-color: #55cfcd;
    border: solid 5px black;
}
.add_span {
    position: relative;
    z-index: 2;
    font-size: 100px;
    margin: 0;
    margin-top: 150px;
    margin-bottom: 12px;
    max-height: 25px !important;
}
