<form
                    method="post"
                    action="{{ path('app_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer ce menu');">
                    <input
                        type="hidden"
                        name="_token"
                        value="{{ csrf_token('delete' ~ menu.id) }}">
                    <button
                        class="btn btn-danger delete_btn">
                        Supprimer le menu
                    </button>
                </form>
