{% extends 'base.html.twig' %}

{% block title %}Gestion des Menus
{% endblock %}

{% block body %}
	<button class="m-5 add">
		<span class="add_span">+</span>
		<div class="add_div"></div>
	</button>
{% endblock %}

{# {% for menu in menus %}
		
				{% else %}
		
			{% endfor %} #}
