{% extends 'base.html.twig' %}

                {% block title %}
                    Création d'un Menu
                {% endblock %}

                {% block body %}
                    <h1>
                        Create new Menu
                    </h1>

                    {{ include('menu/_form.html.twig') }}

                    <a
                        href="{{ path('app_menu_index', {'id': menu.id}) }}">
                        <button
                            class="btn btn-dark success_btn">
                            Retour à la liste
                        </button>
                    </a>
                {% endblock %}
