{% extends 'base.html.twig' %}

                {% block title %}
                    Création d'un Plat
                {% endblock %}

                {% block body %}
                    {{ include('plat/_form.html.twig') }}

                    <a
                        href="{{ path('app_plat_index', {'id': plat.id}) }}">
                        <button
                            class="btn btn-dark success_btn">
                            Retour à la liste
                        </button>
                    </a>
                {% endblock %}
