{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text-center mt-2 mb-5">Ajouter un employé</h1>

    {{ include('user/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('app_admin') }}">
            <button class="btn btn-dark">retour</button>
        </a>
    </div>
{% endblock %}
